*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common-section */
.common-btn{
    padding: 7px 16px;
    border: none;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    cursor: pointer;
}
/* nav-section */
nav section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 110px;
    padding: 12px 0px;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: calc(8px);
    

}
.nav-logo div img{
    background-color: black;
    border-radius: 5px;
}

nav section ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav section ul li a{
    text-decoration: none;
    color: #575757;
}

/* header-section */
header{
background-image: linear-gradient(rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.003) 40%, rgba(0, 0, 0, 0.85) 100%),url('./images/banner.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}

header{
    display: grid;
    color: white;
    text-align: center;
    justify-content: center;
    position: relative;
}
header section{
    width: 500px;
    display: grid;
    margin-top: 170px;
}


.head-btn{
    padding: 12px 26px;
    border: none;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.btn-header{
    position: absolute;
    bottom: 60px;
    right:45%;
}
header section .header-text h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}
header section .header-text p{
    opacity: 0.5;
}

/* spekers-section */

.Spekers-section{
    margin: auto 8%;

}

.Spekers-section h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight:bolder;
    font-size: 45px;
    color: #0D1B2A;
}

.spekers-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 110px;

    
}
.box{
    border: 1px solid #E5E7EB;
    border-radius: 18px;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
} 
.common-blue{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2563EB;
}
.box h3{
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.name-box{
    margin-left: 30px;
    margin-bottom: 20px;
    color: #575757;
}

/* secure-section */

.secure-section{
    margin: auto 8%;
}
.secure-text{
    text-align: center;
    margin-bottom: 40px;
}
.secure-text p{
    color: #575757;
}
.secure-text h1{
    font-size: 45px;
    font-weight: bolder;
    color: #0D1B2A;
}

.secure-grid{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 30px;

}

.secure-box{
        border: 1px solid #E5E7EB;
        border-radius: 8px;
        padding:20px 40px 40px 40px;
}

.secure-box ul li,h1,p{
    margin-top: 15px;
}
.secure-box ul li{
    color: #333333;
}
.secure-box ul li::marker{
    color: #1D4ED8;
}

.secure-btn{
    margin-top: 25px;
    width: 100%;
    padding: 12px 0px;
    border:1px solid #2563EB;
    border-radius: 8px;
    background-color: white;
    color: #2563EB;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.secure-color{
    color: #888888;
}

.secure-btn-left{
    margin-top: 25px;
    width: 100%;
    padding: 12px 0px;
    border:1px solid #0D1B2A;
    border-radius: 8px;
    background-color: white;
    color: #0D1B2A;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.secure-box-mid{
        border:none;
        border-radius: 8px;
        padding:20px 40px 40px 40px;
        background-color: #0D1B2A;
}

.secure-box-mid ul li,h1,p{
    margin-top: 15px;
}
.secure-box-mid ul li{
    color: #FFFFFF;
    opacity: 0.8;
}
.secure-box-mid ul li::marker{
    color: #1D4ED8;
}

.box-color-mid{
    color: #93C5FD;
}
.secure-box-mid h1{
    color: white;
}
.secure-btn-mid{
    margin-top: 25px;
    width: 100%;
    padding: 12px 0px;
    border:none;
    border-radius: 8px;
    background-color: #2563EB;
    color: white;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}




